.developer-content {
  padding-top: 13.2%;
}

.developer-content h1 {
  padding-bottom: 1.9%;
}

.developer-btn {
  display: flex;
  padding-top: 4%;
}

.developer-btn__build-now {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #14f195;
  border: 0.0625rem solid #000000;
  border-radius: 1.5rem;
  width: 7.8906rem;
  height: 2.625rem;
  margin-right: 0.8%;
  cursor: pointer;
}

.developer-btn__build-now:hover {
  color: rgba(132, 136, 149, 1);
  background-color: rgba(255, 255, 255, 1);
}

.developer-btn__stack-exchange {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  background: #000000;
  border: 0.0625rem solid #ffffff;
  border-radius: 1.5rem;
  width: 12.2675rem;
  height: 2.625rem;
  padding-left: 1%;
  cursor: pointer;
}

.developer-btn__stack-exchange:hover {
  color: rgba(132, 136, 149, 1);
  background-color: rgba(255, 255, 255, 1);
}

.developer-btn__stack-exchange img {
  padding-right: 1%;
}

.developer-content h2 {
  padding-top: 19.2%;
}
